* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #202124;
  color: white;
}

:root {
  --hover-bar-color: #303134;
  --margin-color: #9aa0a6;
}
a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

li > a{
  display: flex;
}

li > a:hover, a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

/* Navbar de sesion  */
.content-nav {
  display: flex;
  justify-content: end;
}

.content-links {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-right: 20px;
  list-style: none;
  gap: 20px;
}

.btn-sesion {
  background-color: #1a73e8;
  padding: 10px;
  border-radius: 5px;
}

.btn-sesion:hover {
  background-color: #1359b4;
  box-shadow: 1px 1px 2px black;
  text-decoration: none;
}

.icon-menu > img{
  position: relative;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.icon-menu {
  color: white;
  height: 40px;
  width: 40px;
} 

.icon-menu:hover {
  background-color: rgba(128, 128, 128, 0.329);
  border-radius: 50%;
}
/* Barra de busqueda y botones */
.content-bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--margin-color);
  border-radius: 50px;
  margin: 5% 0;
  height: 44px;
  width: 580px;
}

.lupita {
  margin: 5px 15px;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.hover-barra:hover {
  background-color: var(--hover-bar-color);
  border-color: var(--hover-bar-color);
}

.input-search {
  height: 90%;
  width: 80%;
  background-color: transparent;
  border-style: none;
}

.input-search:focus {
  outline: none; 
}

.content-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.btns > button {
  box-sizing: content-box;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #303134;
  padding: 10px 20px;
  margin: 0 10px;
}

.btns > button:hover {
  border: 1px solid var(--margin-color);
  cursor: pointer;
}

.content-label {
  padding-bottom: 35%;
  font-size: 12px;
}

.link-idioma {
  color: #8ab4f8;
}
/* Pie de pagina */
.footer, .footer > a {
  font-size: 14px;
  background-color: #171717;
  padding: 10px;
  color: var(--margin-color);
}

.region {
  border-bottom: 1px solid #3c4043;
}
.content-opciones {
  display: flex;
  justify-content: space-between;
}

